body {
display: flex;
gap: 10px;
 /* background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/f/f5/UEFA_Champions_League.svg/1280px-UEFA_Champions_League.svg.png); */
background-size: 200px;


}

header{
display: flex;
font-size: 40px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
justify-content: flex-end;
margin-right: 20px;
}

h1 {
    /* background-color: aquamarine; */
    display: inline-block;

}


a{


    text-decoration: none;
}

a:hover{

    text-decoration: underline;

}


.card {

    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:  rgba(60, 56, 56, 0.7  );
    width: 30px;
    border-radius: 6px;
    border:1px solid black;
    padding: 30px;
    width: 300px;
    flex-direction: row;

}

.array {
    display: flex;
    flex-wrap: wrap;
}

.card img{

    width: 80px;
}

.card h2{
    font-size: 30px;
    font-weight: bold;
    color:aqua;
}

.card ul{
    list-style-type: none;
    padding: 20px;
    
}

li{
    padding: 10px;
}





